<small>
<i>
<%= "Tags: " %>
<% if !article.tag_list.none? %>
    <span margin-top="10px", margin-bottom="10px">
    <span class="tags">
        <% article.tag_list.each do |t| %>
            <%= link_to t, tagged_path(tag: t) %>
                <% if t != article.tag_list[-1]%>
                    <%= ", " %>
                <% end%>
        <% end%>
    </span>
    </span>

<% else %>
    <span margin-top="10px", margin-bottom="10px">
    <span class="tags">
        <%= "N/A" %>
    </span>
    </span>

<% end%>
</i>
</small>